
        /* header section start */

        body{

                margin: 1rem 2rem;
        }

header{

background-color: white;
justify-content: space-between;
display: flex;
align-items: center;
border-radius: 12px;
padding: 1 rem 1.5rem;
margin: 1rem;
}

.logo-section {

display: flex;
align-items: center;
margin: 1rem;
}

.cart-icon{
width: 1.5rem;
height: 1.5rem;

}

.cart-link{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
nav{
justify-content: space-between;
display: flex;
align-items: center;
gap: 2rem;
margin-left: 2rem;
margin-right: 2rem;

}

.home-link{
        font-weight: 500;
}
        /* header section close */

        /* always fresh flower section start*/

        .always-fresh-section{

                display: flex;
                margin: 1rem;
                grid-template-columns: 2fr;
                
        }
.h2{
        font-weight: 800;
        font-size: 4rem;
        width: 50%;
}

.text1{
        display: flex;
        font-size: 1rem;
        font-weight: 400;

}
        /* always fresh flower section close*/
        .our-plants{

                justify-content: center;
                align-items: center;
                justify-items: center;
        }
        .plants-text{
                justify-items: center;
                font-size: 3rem;

        }

        /* product section start*/


.product-section{

display: grid;
grid-template-columns: repeat(4, 1fr);
align-items: center;
justify-items: center;
margin-top: 30px;
        }

.product-title{
        text-align: center; /* Centers text and inline elements */
    align-items: center; /* Centers items horizontally within the flex container */
    font-size: 1.25rem;
    font-weight: 400;
    justify-items: center;
    justify-content: center;
}

.product img {
    max-width: 100%; /* Ensures images scale down within their columns */
    height: auto;
    margin-bottom: 10px;
}


.product-price {
   font-size: 1.1em;
            color: #000000; /* Blue color for price */
            font-weight: 700;
            margin-bottom: 15px; 
  text-align: center;
}

.add-to-cart {
    background-color: #E95A08; 
            color: #ffffff;
            padding: 12px 15px; 
            border: none;
            cursor: pointer;
            font-size: 1em; 
            font-weight: 600; 
            width: 100%; 
            box-sizing: border-box; 
            text-transform: uppercase;
            margin-bottom: 20px;
}

.add-to-cart:hover {
    background-color: #5a4bb3;
}
        /* product section close*/




